@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.contactWrapper {
  width: 100%; 
  margin: 0 auto;
  padding: 30px;
  border-radius: 0px;
  background-color: #f9f9f9; 
  color: #333333; 
  text-align: center;
}

.headerWrapper {
  position: relative;
  margin-bottom: 40px; 
}

.headerMain {
  font-weight: 900;
  color: #333333; 
  margin-bottom: 0;
  z-index: 1;
}

.headerSub {
  font-weight: 900;
  color: #bbbbbb; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  opacity: 0.2;
  white-space: nowrap; 
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contactInfo, .contactForm {
  flex: 1;
  background-color: #ffffff; 
  border-radius: 10px;
  padding: 50px 20px;
  padding-bottom: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.infoItem {
  display: flex;
  align-items: flex-start; /* Align items to the start */
  margin-bottom: 20px; 
  font-size: 16px;
  color: #666666; 
}

.infoItem i {
  font-size: 24px; 
  color: #006bb3; 
  margin-right: 10px;
}

.infoItem div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactLink {
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.contactLink:hover {
  color: #005a99; 
  text-decoration: underline;
}

.socialLinks {
  display: flex;
  gap: 15px; 
  justify-content: flex-start; /* Align left */
  margin-top: 20px;
}

.socialLinks h4 {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #666666; 
}

.socialLinks a {
  color: #006bb3;
  font-size: 24px; 
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.socialLinks a:hover {
  color: #004b80; 
}

.form {
  text-align: left;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #666666; 
}

input, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc; 
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #006bb3; 
  background-color: #ffffff;
  outline: none; 
}

textarea {
  height: 120px;
  resize: vertical;
}

.submitButton {
  width: 100%; 
  padding: 12px 24px;
  background-color: #006bb3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.submitButton:hover {
  background-color: #004b80;
  transform: scale(1.05);
}

.iconLinks {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

.outlookIcon, .gmailIcon {
  width: 100%; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  vertical-align: middle; /* Align icon with text */
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 0.3s ease-in-out;
}

.outlookIcon:hover, .gmailIcon:hover {
  transform: scale(1.1); /* Slightly enlarge icon on hover */
}
.contactHeader {
  font-size: 2rem;
  color: #006bb3;
  margin-bottom: 20px;
}

.infoItem h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333333;
}
